<table class="table table-striper">
  <tr>
    <th>Id</th>
    <th>Materia</th>
    <th>Calificación</th>
  </tr>

  {{#each calificaciones}}
    <tr>
      <td>{{id}}</td>
      <td>{{nombre}}</td>
      <td>{{calificacion}}</td>
    </tr>
  {{/each}}
</table>

<a href="/calificacion/new" class="btn btn-primary">Agregar calificacion</a>
