<link rel="stylesheet" href="/css/landing.css"/>

<div class="main-banner">
  <div class="container">
    <div class="row">
      <h1 class="col-xs-6 col-xs-offset-3 text-center">LGW</h1>
    </div>
    <div class="row">
      <h4 class="col-xs-6 col-xs-offset-3 text-center">Un cliente web basado en HTTP con Machine Learning</h4>
    </div>
  </div>
</div>
