<div class="container">
  <h4 class="text-center">Log in</h4>
  <form>
    <div class="form-group">
      <label for="email">Email address</label>
      <input required type="text" class="form-control" id="email" placeholder="Email"></input>
    </div>

    <div class="form-group">
      <label for="password">Password</label>
      <input required type="password" class="form-control" id="password" placeholder="Password"></input>
    </div>

    <div id="msg-incorrect-password" class="alert alert-danger" hidden>
      Incorrect username/password combination.
    </div>
    <button type="submit" class="btn btn-default" onclick="login(event)">Submit</button>
  </form>

</div>

{{#section 'jquery'}}
<script>
  function login(evt) {
    evt.preventDefault();

    var username = $('#email').val();
    var password = $('#password').val();

    $.post("/api/v1/login", {
      username: username,
      password: password
    }, function(data) {
      if (data.success) {
        window.location.href = "/inbox";
      } else {
        $('#msg-incorrect-password').show();
      }
    })
  }
</script>
{{/section}}
