<table class="table table-striped">
  <tr>
    <th>Id</th>
    <th>Clave</th>
    <th>Nombre</th>
  </th>

  {{#each materias}}
    <tr>
      <td>{{this.id}}</td>
      <td>{{this.clave}}</td>
      <td>{{this.nombre}}</td>
    </tr>
  {{/each}}

</table>
